# Server configuration
SERVER_PORT=8080
GIN_MODE=debug
SERVER_ENV=development

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRY=15m

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=secret
DB_PASSWORD=secret
DB_NAME=database
DB_SSLMODE=disable